body {
    font-family: 'Arial', sans-serif;
    background-color:  #303237;
    margin: 0;
}

#characters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 100px;
    padding: 30px;
    justify-content: space-around;
}

#characters div item {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#characters div h2 {
    color: #ffffff;
}

#characters div img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}
